div.jumbotron{
  text-align:center;
  background-image:url(../../assets/img/color.jpg);
  background-size:cover;
}

div.col-md-12{
  text-align:center;
}

nav.navbar.navbar-default{
  background-color:#999;
}

body{
  background-image:url(../../assets/img/s.jpg);
  background-size:cover;
}

div.col-md-12{
  text-align:center;
}

img{
}

div.thumbnail{
  text-align:center;
}

div.thumbnail{
  text-align:center;
}

body{
  text-align:center;
}

h1{
  font-family:monospace;
}

h1{
  font-family:cursive;
}

h1{
  font-family:sans-serif;
}

div.col-md-6{
  opacity:34;
}

div.item.active{
}

div#l1.col-md-12{
  text-align:left;
}

p{
  font-size:large;
}

p#t12{
  font-size:medium;
}

strong{
  text-align:left;
}

div#pp.row{
  text-align:left;
}

div#mm.col-md-12{
  text-align:left;
}

h1#qw{
  text-align:left;
}

h1#mk{
  text-align:left;
}

div#l1.col-md-5{
}

div#l1.col-md-5{
}

div#l1.col-md-5{
}

h1#mk{
  text-align:center;
}

h1#qw{
  text-align:center;
}

h2{
  text-align:justify;
}

h2#lopo{
}

h2#lopo{
}

div.col-md-12{
  text-align:left;
}

div.col-md-12{
  text-align:center;
}

div#sav1.col-md-12{
}

div.page-header{
  text-align:center;
}

text{
}

div.col-md-12{
}

h2{
  text-align:center;
}

input{
  text-align:center;
}

div#input.col-md-12{
}

div#input.col-md-12{
  text-align:center;
}

h3#ttt3{
  text-align:right;
}

